{% if MCHAT_ONLINEBANNERS %}
	{% INCLUDECSS '@kasimi_mchatonlinebanners/mchat.onlinebanners.css' %}
	{% INCLUDEJS '@kasimi_mchatonlinebanners/js/mchat.onlinebanners.js' %}
	<style>
		{% for banner in MCHAT_ONLINEBANNERS %}
			.mchat-message[data-mchat-banner="{{ banner.id }}"] .username::before,
			.mchat-message[data-mchat-banner="{{ banner.id }}"] .username-coloured::before {
				{% if banner.image_absolute %}
					content: url('{{ banner.image_absolute | escape('css') }}');
				{% elseif banner.color %}
					color: {{ banner.color }};
				{% else %}
					display: none;
				{% endif %}
			}
			{% if banner.color and banner.title_raw %}
				.mchat-message[data-mchat-banner="{{ banner.id }}"] .username::after,
				.mchat-message[data-mchat-banner="{{ banner.id }}"] .username-coloured::after {
					content: '{{ lang(banner.title_raw) | escape('css') }}';
					{% if banner.color %}
						color: {{ banner.color }};
						border-color: {{ banner.color }};
					{% endif %}
				}
			{% endif %}
		{% endfor %}
	</style>
{% endif %}
